<div class="ui card" id="card">
	<div class="image" style="background-color: transparent;">
		<img src="<%= profileImage%>" id="avatar"> <!-- Placeholder Image Path -->
	</div>

	<div class="ui content">
		<a class="header" href="/profile"><h3><%=user.username%></h3></a>
		<div class="description">
			<%=user.bio%>
		</div>
	</div>

	<div class="extra content" id="accountInfo">
		<a><i class="comment icon"></i><%=user.posts%> Posts</a>
		<a><i class="user icon"></i><%=user.following%> Following</a>
		<a><i class="address book outline icon"></i><%=user.followers%> Followers</a>
	</div>
</div>