<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
	<link rel="shortcut icon" href="../images/favicon.ico" />
	
    <link rel="stylesheet" href="../components/miniprofile/miniprofile.css">
    <link rel="stylesheet" href="../css/search.css">

	<title>Grumblr</title>
</head>

<body>
<!-- Navigation Bar Component -->
<% include ../public/components/Navbar/navbar.ejs %>
<!-- 
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->

<div id="content">
	<h2>Search Results</h2>

	<%
		if (searchUsers) {
		if (searchUsers.length > 0) { 
		for (var i=0; i<searchUsers.length; i++) { %>
            <div class="searchContainer">
			    <div class="searchResult">
				    <img class="ui avatar image" src="/images/avatar.png" id="avatar">
			    	<h2><%=searchUsers[i].firstName%> <%=searchUsers[i].lastName%></h2>
			    	<h3>Username: <%=searchUsers[i].username%></h3>
			    	<h3>Followers: <%=searchUsers[i].following%></h3>
			    	<h3>Following: <%=searchUsers[i].followers%></h3>
                </div>
            </div>
		<%} 
		}
		}
		%>

	</div>
</div>







<!--
SEMANTIC-UI SCRIPTS ==========================================================================================================================================-->
<!-- jquery should be above the semantic.js due to having dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- semantic-ui javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>


<!--MAIN SCRIPTS =============================================================================================================================================-->
<script>

// SEMANTIC-UI dropdown function
$('.ui.dropdown')
            .dropdown();

      $('.ui.longer.modal')
            .modal('attach events', '.viewComments', 'show');

      $('.ui.modal.uploadImage')
      .modal('attach events', '#uploadImageButton', 'show');

      $('#content.post')
      .visibility({
            once: false,
            // update size when new content loads
            observeChanges: true,
            // load content on bottom edge visible
      onBottomVisible: function() {
            // loads a max of 5 times
            window.loadFakeContent();
      }
}); 



</script>
</body>
</html>