<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
	<link rel="shortcut icon" href="../images/favicon.ico" />
	
	<link rel="stylesheet" href="./components/post/post.css">
    <link rel="stylesheet" href="../components/miniprofile/miniprofile.css">
    <link rel="stylesheet" href="../css/search.css">

	<title>Grumblr</title>

<%
    if (locals.user.profileImage) {
        if (locals.user.profileImage.img) {
            console.log(user.profileImage);
            var type = user.profileImage.img.contentType
            console.log(type);
            var base64String = user.profileImage.img.data;
            var profileImage = "data:"+type+";base64, "+base64String;
    }
}
%>
</head>

<body>
<% include ../public/components/Navbar/navbar.ejs %>



<div id="content">
	<%
	if (locals.searchUsers) {
		if (searchUsers.length > 0) { %>
			<div class="searchContainer">
				<h1 class="searchResultHeader">
					People
				</h1>
				<div class="searchResult">
					<%for (var i=0; i<searchUsers.length; i++) { 
						if (searchUsers[i].profileImage) {
							if (searchUsers[i].profileImage.img) {
								console.log("======= Search User's Profile Image ==========");
								console.log(searchUsers[i].profileImage);
								var type = searchUsers[i].profileImage.img.contentType
								console.log(type);
								var base64String = searchUsers[i].profileImage.img.data;
								var profileImage = "data:"+type+";base64, "+base64String;
							}
						} 
						else { 
							var profileImage = ""
						}%>
					<!-- =========================================================================================================== -->
					<!-- <div class="personResult">
						<img class="ui avatar image" src="<%= profileImage %>" id="avatar">
						<a href="/users/<%= searchUsers[i].username%>">
						<h2></h2>
						</a>
						
						<h3>Username: </h3>
						<h3>Followers: <%=searchUsers[i].following%></h3>
						<h3>Following: <%=searchUsers[i].followers%></h3>
					</div> -->

					<div id="personInstance">
						<div class="ui card">
							<div id="profileImageContainer"
								 style="background-image: url('<%= profileImage %>');
										 background-size: cover;
										 background-position: center;">
							</div>
							<div class="content">
								<a class="header" href="/users/<%= searchUsers[i].username%>">
									<%=searchUsers[i].firstName%> <%=searchUsers[i].lastName%>
								</a>
								<div class="meta">
								<span class="username"><%=searchUsers[i].username%></span>
								</div>
								<div class="description">
									<%= searchUsers[i].bio %>
								</div>
							</div>
							<div class="extra content" id="accountInformation">
								<a><i class="user icon"></i><%=searchUsers[i].following%> Followers</a><br>
								<a><i class="user icon"></i><%=searchUsers[i].followers%> Following</a>
							</div>
						</div>
					</div>
					
					<!-- =========================================================================================================== -->
				<%}
					
		} else {%>
			<div class="emptyResultContainer">
				<h1 class="header" id="emptyResult">No people matched results... :(</h1>
			</div>
		<%}
	}%>
				</div>
			</div>

			<div class="ui divider"></div>
	<!-- if naubos na yung users accounts na ididisplay, etong posts naman  -->
	<% if (locals.posts) {
		if (posts.length > 0) {%>
			<div class="searchContainer">
				<h1 class="searchResultHeader">
					Posts
				</h1>
				<div class="postSearchResult">
					<div id="postInstance">
						<%for (var i=0; i<posts.length; i++) { %>
							<% include ../public/components/post/post.ejs %>
						<%}%>
					</div>
				</div>
			</div>
			<%}
		}%>
</div>
		






<!--
SEMANTIC-UI SCRIPTS ==========================================================================================================================================-->
<!-- jquery should be above the semantic.js due to having dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- semantic-ui javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>


<!--MAIN SCRIPTS =============================================================================================================================================-->
<script>

// SEMANTIC-UI dropdown function
$('.ui.dropdown')
	.dropdown()
;

$('.ui.longer.modal')
	.modal('attach events', '.viewComments', 'show')
;

$('.ui.modal.uploadImage')
	.modal('attach events', '#uploadImageButton', 'show')
;

$('.emptyResultContainer')
  .transition('shake')
;

$('#content.post')
	.visibility({
		once: false,
		// update size when new content loads
		observeChanges: true,
		// load content on bottom edge visible
		onBottomVisible: function() {
			// loads a max of 5 times
			window.loadFakeContent();
		}
});




</script>
</body>
</html>