<!DOCTYPE html>
<html>
<head>
<%
		if (locals.user.profileImage) {
			if (locals.user.profileImage.img) {
				console.log(user.profileImage);
				var type = user.profileImage.img.contentType
				console.log(type);
				var base64String = user.profileImage.img.data;
				var profileImage = "data:"+type+";base64, "+base64String;
			}
			
			if (locals.visitedUser.profileImage.img) {
				console.log(visitedUser.profileImage);
				var type2 = visitedUser.profileImage.img.contentType
				console.log(type2);
				var base64String2 = visitedUser.profileImage.img.data;
				var visitedUserProfileImage = "data:"+type+";base64, "+base64String2;
			}

			if (locals.visitedUser.coverImage.img) {
				console.log(visitedUser.coverImage);
				var type2 = visitedUser.coverImage.img.contentType
				console.log(type2);
				var base64String2 = visitedUser.coverImage.img.data;
				var visitedUserCoverImage = "data:"+type+";base64, "+base64String2;
			}
		}
%>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="shortcut icon" href="images/favicon.ico" />
   <title><%= visitedUser.firstName %> <%= visitedUser.lastName %></title>

   <!-- semantic-ui styles -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
   <!-- main css -->
   <link rel="stylesheet" href="../public/css/visitedprofile.css">
   <link rel="stylesheet" href="../public/components/post/post.css">
</head>

<body>
<% include ../public/components/Navbar/navbar.ejs %>




<div id="content">
<!-- ======= HEADER ======================================================================================================================================= -->
<HEADER>
	<!-- HEADER: USER AVATAR -->
	<div class="profileAvatarContainer">
		<img src="<%= visitedUserProfileImage %>" alt="Avatar" id="profileImage">
	</div>

	<!-- HEADER: HEADER COVER/IMAGE -->
	<div class="profileHeaderImageContainer">
		<img src="<%= visitedUserCoverImage %>" alt="Header Image" id="headerImage">
	</div>

	<!-- HEADER: USER INFORMATION -->
	<div class="profileHeaderUserInfo">
		<div class="userNameHeader">
			<h1><%= visitedUser.firstName %> <%= visitedUser.lastName %></h1>
			<h3><%=visitedUser.username%></h3>
		</div>
		<div class="userfollow">
			<button class="ui button icon labeled" id="followButton" href="/follow/<%=visitedUser.username%>">
				<i class="plus icon"></i>
				<span><strong>Follow</strong></span>
			</button>
		</div>
	</div>
</HEADER>

<!-- ======= PROFILE FEED ================================================================================================================================= -->
<TIMELINE id="timeline">


	<PANEL>
	<!-- PANEL: ABOUT USER -->
	<div class="profileDetailsContainer">
		<h2 class="ui header">Bio</h2>
		<p style="text-align: center"><%=visitedUser.bio%></p>
	<div class="ui divider"></div>
	</div>
	</PANEL>


	<!--<PANEL>
	<div class="profilePosts">
	<% if (locals.posts) {
		for (var i=0; i<posts.length; i++) { %>
			<% include ../public/components/post/post.ejs %>
		<%}
	}%>
	</div>
	</PANEL>-->


</TIMELINE>
</div><!-- id="content" -->























<!-- ======= SEMANTIC UI SCRIPTS ========================================================================================================================== -->
<!-- jquery should be above the semantic.js due to having dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- semantic-ui javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>



<!-- ======= MAIN SCRIPTS =================================================================================================================================-->
<script>
// SEMANTIC-UI dropdown function
$('.ui.dropdown')
	.dropdown()
;

// MODAL: POST
$('.ui.longer.modal')
	.modal('attach events', '.viewComments', 'show')
;


// REMOVE UPLOADED IMAGE
function removeAttachedImage() {
	var image = document.getElementById('imageAttachment');
	var container = document.getElementById('imageAttachmentContainer');
	
	if(image.src == null || image.src == "") {
		/* if there is no attached image in the container, proceed*/
	} 
	else {
		image.src = "";
		container.classList.add('hidden');
	}
}
	
// PREVIEW UPLOADED IMAGE
function loadImageAttachment() {
	var imageContainer = document.getElementById('imageAttachmentContainer');
	var output = document.getElementById('imageAttachment');

	if(imageContainer.classList.contains('hidden')) {
		imageContainer.classList.remove('hidden')
		output.src = URL.createObjectURL(event.target.files[0]);
	} else {
		output.src = URL.createObjectURL(event.target.files[0]);
	}
}

// INFINITE SCROLL FUNCTION
$('.infinite.example .demo.segment')
	.visibility({
	once: false,
	// update size when new content loads
	observeChanges: true,
	// load content on bottom edge visible
	onBottomVisible: function() { // Alex: ako mag aayos nitong function na to to call the API
		// some code to call the api to render more data
	}
})
;
</script>
</body>

</html>